[submodule "bashrc-config"]
	path = bashrc-config
	url = https://github.com/olivierodo/bashrc-config.git
[submodule "git-config"]
	path = git-config
	url = https://github.com/olivierodo/git-config.git
[submodule "tmux-config"]
	path = tmux-config
	url = https://github.com/olivierodo/tmux-config.git
[submodule "vimconfig"]
	path = vimconfig
	url = https://github.com/olivierodo/vimconfig.git
