<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0590B76E-2098-44D5-BD63-05F68E65500E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pip sandbox</string>
			<key>text</key>
			<string>Pipeline sandbox</string>
			<key>url</key>
			<string>https://gocd-api-ktaxa.axa-kt-th-dev-int.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/go/tab/pipeline/history/api_deploy_beta_sandbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0D866465-ACBC-44B0-94A3-A948D3C41A35</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pip uat</string>
			<key>text</key>
			<string>Pipeline UAT</string>
			<key>url</key>
			<string>https://gocd-api-ktaxa.axa-kt-th-dev-int.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/go/tab/pipeline/history/api_deploy_beta_uat</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2154B261-62A3-4680-A1CD-8908E947371A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>syn</string>
			<key>text</key>
			<string>Synonyms</string>
			<key>url</key>
			<string>http://www.thesaurus.com/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>28F0E908-4AC0-4E3C-83C3-9A9F4A18C0B0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>prod</string>
			<key>text</key>
			<string>OpenPaas Prod</string>
			<key>url</key>
			<string>https://osconsole.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/console/project/ktaxa-data-api-prod/browse/dc/api-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5948BC9A-D609-4F8F-82CA-84BC7B6A05E4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/search?utf8=✓&amp;q={query}&amp;type=</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5A16FC58-77F2-4C03-8D98-5799FF8FEB4B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>me</string>
			<key>text</key>
			<string>Olivierod</string>
			<key>url</key>
			<string>https://github.com/olivierodo</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5A4F8226-0995-4D85-A1B7-B2A61914443F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oc</string>
			<key>text</key>
			<string>oc login</string>
			<key>url</key>
			<string>https://osconsole.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/console/command-line</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5BFB0934-49AE-4224-AB8A-9FA969498D03</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Npm</string>
			<key>url</key>
			<string>https://www.npmjs.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5E073DB2-A5AC-4BE3-B00D-82E673FF41C0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Jira</string>
			<key>url</key>
			<string>https://axagroupsolutions.atlassian.net/projects/KA/issues/KA-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6249740E-860A-4592-94AD-59C03792D944</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>confluence</string>
			<key>text</key>
			<string>Confluence</string>
			<key>url</key>
			<string>https://axagroupsolutions.atlassian.net/wiki/spaces/KA/overview</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6816DC8D-7EBC-4D99-8CA5-5754AC6B9955</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>uat</string>
			<key>text</key>
			<string>OpenPass UAT</string>
			<key>url</key>
			<string>https://osconsole.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/console/project/ktaxa-data-api-uat/browse/dc/api-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7DB3FC4B-B287-4F82-B9F5-7BADAF4C974C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>puat</string>
			<key>text</key>
			<string>Portal UAT</string>
			<key>url</key>
			<string>https://portal-api-ktaxa-uat.paas.axa-asia.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>896F4394-95B6-4A70-8D9E-CB63C4AEBC83</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>psandbox</string>
			<key>text</key>
			<string>Portal Sandbox</string>
			<key>url</key>
			<string>https://portal-api-ktaxa-sandbox.paas.axa-asia.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A6C01885-4190-4F3B-852C-00F49A92EC2C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>log</string>
			<key>text</key>
			<string>Log</string>
			<key>url</key>
			<string>http://10.22.250.50/logs/api_request/production/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BAEBA5D4-E08D-4E83-89E7-DA556E404D67</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sandbox</string>
			<key>text</key>
			<string>OpenPaas Sandbox</string>
			<key>url</key>
			<string>https://osconsole.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/console/project/ktaxa-data-api-sandbox/browse/dc/api-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CD33C386-6A28-44B1-844D-53F2AD28D5B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gapi</string>
			<key>text</key>
			<string>Github Axa API</string>
			<key>url</key>
			<string>https://github.axa.com/KTAXA/api-{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D2BD57B7-940D-4D43-93E4-033E298321C4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>text</key>
			<string>Giphy</string>
			<key>url</key>
			<string>https://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9394769-5D19-4FA2-86BB-C3EAA8AA1A12</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>portal</string>
			<key>text</key>
			<string>Portal prod</string>
			<key>url</key>
			<string>https://portal-api-ktaxa.paas.axa-asia.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D9CB7BAD-38E0-45E7-B17C-27D3F5B94FB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Jira</string>
			<key>url</key>
			<string>https://axagroupsolutions.atlassian.net/secure/RapidBoard.jspa?projectKey=KA&amp;useStoredSettings=true&amp;rapidView=708</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E1868EFB-43A8-4521-BE45-AFEF6E7F12B1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pip prod</string>
			<key>text</key>
			<string>Pipeline Prod</string>
			<key>url</key>
			<string>https://gocd-api-ktaxa.axa-kt-th-dev-int.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/go/tab/pipeline/history/api_deploy_beta_prod</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F0415258-3353-4B3E-90CA-0EBC00D9C7AE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kibana</string>
			<key>text</key>
			<string>Kibana</string>
			<key>url</key>
			<string>https://oslogs.pink.ap-southeast-1.aws.openpaas.axa-cloud.com/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&amp;_a=(columns:!(request.uri,response.status),filters:!(('$$hashKey':'object:2153','$state':(store:appState),meta:(alias:!n,disabled:!f,index:'project.ktaxa-data-api-prod.47af3aa7-f850-11e6-a691-027e726f02e5.*',key:kubernetes.labels.app,negate:!f,value:api-private-gateway),query:(match:(kubernetes.labels.app:(query:api-private-gateway,type:phrase))))),index:'project.ktaxa-data-api-prod.47af3aa7-f850-11e6-a691-027e726f02e5.*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:%22gateway%22)),sort:!('@timestamp',desc))</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
